<h1>Welcome to CTT</h1>
<%= button_to "Sign In", new_user_session_path, method: :get if current_user.nil?%>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete unless current_user.nil?%>
<br><br><hr>
<% unless current_user.nil? %>
	<form action="/notifications" method='POST'>
		<h3>Create Notification:</h3>
		<label for='hostname'>Site:</label>
		<select id='hostname' name="hostname">
			<% current_user.sites.each do |site| %>
				<option><%= site.hostname %></option>
			<% end %>
		</select><br><br>

		<label for='time'>Time:</label>
		<input type="number" min=1 required id='time' name="time"><br><br>

		<label for='span'>Span:</label>
		<input type="number" min=1 required id='span' name="span"><br><br>

		<input type="submit">
	</form>
	<br><br><hr>

	<% if(current_user.notifications.count > 0) %>
		<h3>Notifications</h3>
		<ul>
			<% current_user.sites.each do |site| %>
				<% site.notifications.each do |noti| %>
					<li>
						<p>
							<%= site.hostname %> - <%= noti.time %> within <%= noti.span %> -
							<a href="#" onclick="delete_noti(<%= noti.id %>);">delete</a>
						</p>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
<% end %>

<script>
	function delete_noti(id){
		if(confirm('Are you sure?')){
			var jqxhr = $.post('/notifications/' + id);
			jqxhr.always(function(){
				window.reload();
			});
		}
	}
</script>
