<%
	sites ||= @sites # we're either coming from the controller or the user view
	current = sites.first ? sites.first.belongs_to?(current_user) : false
%>

<% if sites.first %>
<hr align='left'>
<table id="table" align="center">
	<thead align='left'>
		<tr>
			<th class='col-md-8'>Site</th>
			<% if current %>
				<th class='col-md-3'>Time</th>
				<th class='col-md-1'>Public</th>
			<% else %>
				<th class='col-md-4'>Time</th>
			<% end %>
		</tr>
	</thead>
	<tbody id='data'>
		<% sites.each do |site| %>
			<tr>
				<td class='col-md-8'>
					<%= unless user.nil?
							link_to site.hostname, user_site_path(user, site)
						else
							site.hostname
						end
					%>
				</td>
				<% if current %>
					<td class='col-md-3'><%= format_time site.time %></td>
					<td class='col-md-1'><input type="checkbox" class="public" <%= 'checked' if site.public %> site="<%= site.id %>"></td>
				<% else %>
					<td class='col-md-4'><%= format_time site.time %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
